<!DOCTYPE html>
  <title>
    Fedd.it - The first Reddit daily email newsletter. Ever! Authored by Neil Marion dela Cruz http://www.neilmarion.com
  </title>
  <body>
    <table border="0" cellspacing="0" cellpadding="0" width="100%" style="background-color:#eeeeee">
      <tbody>
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="width:640px;padding-left:20px;padding-right:20px">
              <tbody><tr><td style="height:20px"><div style="min-height:20px;min-height:20px;max-height:20px;vertical-align:top;overflow:hidden"></div></td></tr>
                <tr>
                  <td>
                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                      <tbody>
                        <tr>
                          <td>
                            <table border="0" cellspacing="0" cellpadding="40" width="100%" style="background:#ffffff;border-radius:8px">
                              <tbody>
                                <tr>
                                  <td style="background-color:#ffffff;border-radius:6px">
                                    <span style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;color:#424242">
                                      <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                        <tbody>
                                          <tr>
                                            <td valign="middle" style="font-size:20px;line-height:25px;color:#424242">
                                              <div style="text-align:center;width:500px;padding:19px 0;text-decoration:none;font-weight:bold;font-size:20px;">
                                                <%= t('.deactivate_notice', subreddit: @subreddit) %>
                                               </div>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td width="500">
                                              <span style="width:500px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:22px;line-height:13px;color:#424242">
                                                <a style="width:500px;text-decoration:none;color:#ffffff" href='<%= @activation_url %>' target="_blank">
                                                  <div style="text-align:center;width:500px;padding:19px 0;text-decoration:none;background-color:#2ecc71;border-top-left-radius:3px;border-top-right-radius:3px;color:#ffffff;font-weight:bold;font-size:20px;white-space:nowrap;">
                                                    <%= t('.reactivate_label') %>
                                                  </div>
                                                </a>
                                              </span>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td height="20">
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table border="0" cellspacing="0" cellpadding="0" width="100%" style="padding-bottom:10px">
                              <tbody>
                                <tr>
                                  <td valign="top" width="127">
                                    <a href="<%= @base_url %>" title="Feddit" target="_blank"><img src="https://dl.dropboxusercontent.com/u/5938276/dev/feddit/feddit_grey.png" height="32" border="0" style="min-height:32px;vertical-align:bottom"></a>
                                  </td>
                                  <td valign="top" align="right" width="*" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:11px;line-height:15px;color:#9d9d9d">
                                    <span>The first Reddit daily email newsletter. Ever!<br></span>
                                    <a href="<%= @base_url %>" style="color:#9d9d9d;text-decoration:none;font-weight:bold" target="_blank"><%= t('user_mailer.go_to_feddit') %></a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="height:20px">
                    <div style="min-height:20px;min-height:20px;max-height:20px;vertical-align:top;overflow:hidden">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
