<div class="subscribe-form col-md-4 col-md-offset-4">


  <div>
    <%= image_tag "https://dl.dropboxusercontent.com/u/5938276/dev/feddit/feddit_sushi_with_sticks.png", class: "mascot" %>
  </div>
  <div class="logo">
    <%= image_tag "https://dl.dropboxusercontent.com/u/5938276/dev/feddit/feddit_beta.png" %>
  </div>
  <div>
    <%= "The first Reddit daily email newsletter. Ever!" %>
  </div>

  <% flash.each do |name, msg| -%>
    <div class="<%= flash_class(name) %> flash">
      <%= msg %>
    </div>
  <% end %>

  <%= form_for :user, url: users_path do |f| %>
    <div class="form">
      <div class="email" style="padding: 20px">
        <%= f.text_field :_id, class: "input-large form-control", placeholder: t('user.email_textfield_placeholder') %>
      </div>
      <div class="subreddits">
        <%= button_tag @hot, class: "btn btn-warning btn-xs", style: "margin-bottom: 10px", type: "button", value: @hot  %>
        <% @subreddits.each do |subreddit| %>
          <div class="subreddit_buttons">
            <%= button_tag subreddit, class: "btn btn-default btn-xs subreddit", style: "margin-bottom: 10px", type: "button", value: subreddit  %>
          </div>
        <% end %>
        <div class="selected">
        </div>
      </div>
      <div class="alert whitelist-notice">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Alert! </strong><%= t('general.whitelist_emails_notice') %>
      </div>
      <div class="subscribe">
        <%= f.submit "Subscribe", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
