<div class="subscribe-form col-md-4 col-md-offset-4">


  <div class="logo">
    <%= image_tag "https://dl.dropboxusercontent.com/u/5938276/dev/feddit/feddit_beta.png" %>
  </div>
  <div>
    <%= "The first Reddit daily email newsletter. Ever!" %>
  </div>

  <% flash.each do |name, msg| -%>
    <div class="<%= flash_class(name) %> flash">
      <%= msg %>
    </div>
  <% end %>

  <%= form_for :user, url: users_path do |f| %>
    <div class="form">
      <div>
        <%= f.text_field :_id, class: "input-large form-control", placeholder: "email" %>
      </div>
      <div>
        <%= f.submit "Subscribe", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>

  <div class="alert whitelist-notice">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Alert! </strong><%= t('general.whitelist_emails_notice') %>
  </div>
</div>
